.al{
    padding: 10px;
}
.grn{ 
    height: 200px;
    width:99.5%;
    background-color: green;
    /* border: 2px solid green; */
}
.br{
 padding: 2px;
    
}
.blu{

    margin-top: 10px;
    margin-right: 10px;
    /* border: 2px solid blue; */
    height: 800px;
    width: 20%;
    background-color: blue;
    display: inline-block;
    
}
.rd{
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 10px;
    /* border: 2px solid red; */
    height: 970px;
    width: 78%;
    background-color: red;
    display: inline-block;
    position: absolute;
    

}
.ylo{
    display: inline-block;
    margin-left: 18px;
    margin-top: 25px;
    /* border: 2px solid yellow; */
    background-color: yellow;
    height: 570px;
    width: 570px;
    padding: 30px;
    
}
.prp{
    /* mask-position: bottom; */
    background-color: purple;
    /* border: 2px solid purple; */
    height: 200px;
    width: 91.3%;
    
    margin-left: 18px;
    margin-top: 20px;
    
}