*{
    padding: 0%;
    margin: 0%;
}
nav{
    display: flex;
    background-color: #decd2e;
    height: 58px;
    position: fixed;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;

}
li{
    list-style-type: none;
    position: relative;
    right: 12px;
    padding: 32px;
    font-size: 24px;
}
#logo{
    
    left: 5px;
    bottom: -5px;
    position: absolute;

    height: 59px;
    margin: 3px;
}